body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    background-color: #1c26b1;

    display: flex;
    justify-content: center;
}

.header h1 {
    color: #FFF;
    font-size: 3rem;
}

.main {
    width: 80%;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main h1 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.escolhas {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.pessoa img {
    border-style: solid;
    border-color: #1c26b1;
    border-width: 2px;

    object-fit: cover;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.pessoa img:hover {
    transform: scale(1.03);
    cursor: pointer;
}